# GSQL101 - using TigerGraph Cloud and pyTigerGraph
by Bob Hardaway

Connect to TGCloud - Recoomendations Starter Kit

## Establish a connection to a TigerGraph Cloud server

## Enter your server's ip address and password

In [1]:
import getpass

server = 'https://se-pytg-demo.i.tgcloud.io'
password = getpass.getpass()

········

In [2]:
import pyTigerGraph as tg

In [3]:
graph = tg.TigerGraphConnection(host="https://se-pytg-demo.i.tgcloud.io", graphname="Recommender")
print(graph)

<pyTigerGraph.pyTigerGraph.TigerGraphConnection object at 0x7feca006e760>

In [4]:
authToken = graph.getToken("hhetpj1970s8goqf5i5tir8cqiflhqoa")
print(authToken)

('osv854gccduraldhnk9jigj98d0m2sp8', 1634141697, '2021-10-13 16:14:57')

In [28]:
conn = tg.TigerGraphConnection(
    host=server, 
    graphname='Recommender', 
    password=password 
    )

In [9]:
conn.getVertexTypes()

['person', 'movie']

In [10]:
conn.getEdgeTypes()

['rate']

In [12]:
import pyTigerGraph as tg 

token = tg.TigerGraphConnection(host="https://se-pytg-demo.i.tgcloud.io", graphname="Recommender").getToken("hhetpj1970s8goqf5i5tir8cqiflhqoa", "1000000")[0]

conn = tg.TigerGraphConnection(host="https://se-pytg-demo.i.tgcloud.io", graphname="Recommender", apiToken=token)

In [13]:
count = conn.getVertexCount("person")
print(count)

138493

In [ ]:
df = conn.getVertexDataframe("person")
df.head()

In [ ]:
count = conn.getEdgeStats('rate')

In [ ]:
df.to_csv('personRecommender.csv', header=True)

In [ ]:
numMovies = conn.getVertexCount("movie")
print(numMovies)

In [15]:
df_movies = conn.getVertexDataframe("movie")
df_movies.head()

    v_id                            title                  genres
0  33358               Off the Map (2003)            Comedy|Drama
1   1342                  Candyman (1992)         Horror|Thriller
2   3264  Buffy the Vampire Slayer (1992)    Action|Comedy|Horror
3   3102               Jagged Edge (1985)  Crime|Romance|Thriller
4   1959             Out of Africa (1985)           Drama|Romance

In [ ]:
df_movies.to_csv('movie4Recommender.csv', header=True)

In [25]:
df_ratings = conn.getEdgesDataframe(sourceVertexType='person', sourceVertexId='28')
df_ratings.head(25)

   from_type from_id to_type to_id  rating             rated_at
0     person      28   movie   593       3  1996-06-06 20:30:34
1     person      28   movie   555       5  1996-06-06 20:32:08
2     person      28   movie   595       3  1996-06-06 20:25:35
3     person      28   movie   315       2  1996-06-06 20:31:21
4     person      28   movie   367       2  1996-06-06 20:31:46
5     person      28   movie   282       3  1996-06-06 20:31:21
6     person      28   movie   231       3  1996-06-06 20:25:35
7     person      28   movie   480       2  1996-06-06 20:33:03
8     person      28   movie   417       1  1996-06-06 20:27:51
9     person      28   movie   344       2  1996-06-06 20:24:58
10    person      28   movie   161       3  1996-06-06 20:30:05
11    person      28   movie   377       3  1996-06-06 20:33:24
12    person      28   movie   165       3  1996-06-06 20:24:58
13    person      28   movie   213       5  1996-06-06 20:28:16
14    person      28   movie   356       4  1996-06-06 20:32:36
15    person      28   movie   339       3  1996-06-06 20:30:21
16    person      28   movie   500       3  1996-06-06 20:34:06
17    person      28   movie   253       3  1996-06-06 20:30:21
18    person      28   movie   588       3  1996-06-06 20:24:58
19    person      28   movie   442       3  1996-06-06 20:32:47
20    person      28   movie   196       1  1996-06-06 20:31:29
21    person      28   movie   477       3  1996-06-06 20:34:06
22    person      28   movie   266       1  1996-06-06 20:31:06
23    person      28   movie   380       2  1996-06-06 20:24:21
24    person      28   movie   590       1  1996-06-06 20:24:20

## Set up a pyTigerGraph connection to the server

Use `options=[]` when issuing GSQL instructions to global instead of your default graph. When running `ls` in global mode you will see all the vertices and edges from all your graphs. In my case, there are currently three graphs already loaded on the server.   

NOTE: Some API calls, such as ls and getVertexTypes require pw authentication

In [29]:
print(conn.gsql('ls', options=[]))

---- Global vertices, edges, and all graphs
Vertex Types:
- VERTEX person(PRIMARY_ID id STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="false"
- VERTEX movie(PRIMARY_ID id STRING, title STRING, genres STRING) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="false"
Edge Types:
- DIRECTED EDGE rate(FROM person, TO movie, rating DOUBLE, rated_at DATETIME) WITH REVERSE_EDGE="reverse_rate"
- DIRECTED EDGE reverse_rate(FROM movie, TO person, rating DOUBLE, rated_at DATETIME) WITH REVERSE_EDGE="rate"

Graphs:
- Graph Recommender(person:v, movie:v, rate:e, reverse_rate:e)
- Graph MyGraph(person:v, movie:v, rate:e, reverse_rate:e)
Jobs:


JSON API version: v2
Syntax version: v1

### Clear the server if you need to (be careful with this)

In [ ]:
#print(conn.gsql('drop all', options=[]))

### To clear a particular graph drop its queries, then the graph, then its edges, then its vertices

In [ ]:
print(conn.gsql('''
drop query hello
drop query hello2
drop graph social
drop edge friendship
drop vertex person
'''))

### Create the graph schema

See [GSQL 101 - Module 1: Graph Schema](https://youtu.be/him2Uy3Nn7Y)

In [ ]:
YouTubeVideo(width=896, height=504, id='him2Uy3Nn7Y')

In [32]:
print(conn.gsql('''create undirected edge friendship (from person, to person, 
                                   connect_day datetime
)
''', options=[]))

The edge type friendship is created.

### Write data files to disk

In [ ]:
%%writefile person.csv
name,gender,age,state
Tom,male,40,ca
Dan,male,34,ny
Jenny,female,25,tx
Kevin,male,28,az
Amily,female,22,ca
Nancy,female,20,ky
Jack,male,26,fl

In [ ]:
%%writefile friendship.csv
person1,person2,date
Tom,Dan,2017-06-03
Tom,Jenny,2015-01-01
Dan,Jenny,2016-08-03
Jenny,Amily,2015-06-08
Dan,Nancy,2016-01-03
Nancy,Jack,2017-03-02
Dan,Kevin,2015-12-30

## Use pyTigerGraph to upsert data

If using a secure server you'll need to get a secret and a token

In [ ]:
secret = conn.createSecret()
conn.getToken(secret=secret);

In [ ]:
import pandas as pd

person = pd.read_csv('person.csv')
person

In [ ]:
conn.upsertVertexDataframe(
    df=person, vertexType='person', v_id='name')

In [ ]:
friendship = pd.read_csv('friendship.csv')
friendship

In [ ]:
conn.upsertEdgesDataframe(
    df=friendship, 
    sourceVertexType='person', 
    edgeType='friendship', 
    targetVertexType='person',
    from_id='person1', 
    to_id='person2', 
    attributes={'connect_day':'date'})

### Downloading dataframes

In [ ]:
# select argument must be comma delimited with no spaces
conn.getVertexDataframe('person', select='age,gender', where='age > 22')

We can ask for specific vertices by providing a list of their IDs.

In [ ]:
conn.getVertexDataframeByID('person', ['Tom', 'Jenny'])

To collect edges one must provide a list of vertices they are connected to.

In [ ]:
conn.getEdgesDataframe('person', ['Tom', 'Jenny'], 'friendship')

## Built-in `SELECT` queries

See [GSQL 101 - Module 3: Graph Inspection Language](https://youtu.be/akGOSEWMC8I)

In [ ]:
YouTubeVideo(width=896, height=504, id='akGOSEWMC8I')

### `SELECT` queries return a native Python structure

In [ ]:
q = conn.gsql('select count(*) from person')
q

In [ ]:
q[0]['count']

### Since this is GSQL the `FROM` argument can be a pattern

In [ ]:
conn.gsql('select count() from person-(friendship)-person')

### The `WHERE` arument is a filter on the `FROM` pattern

In [ ]:
conn.gsql('select * from person where primary_id=="Tom"')

In [ ]:
q = conn.gsql('select * from person where gender=="female"')
q

### Use Python's list comprehension to access results

In [ ]:
[v['attributes']['age'] for v in q]

### Transform into a Pandas DataFrame

In [ ]:
import pandas as pd

pd.DataFrame([v['attributes'] for v in q])

## User defined queries

See [GSQL 101 - Module 4: Basic GSQL](https://youtu.be/eK6f7qnylj0)

In [ ]:
YouTubeVideo(width=896, height=504, id='eK6f7qnylj0')

### Queries can saved and compiled (this takes about a minute)

In [ ]:
print(conn.gsql('''
drop query hello

create query hello(vertex<person> p) for graph social{
    
    start = {p};
    tgt = select t from start:s-(friendship:e)-person:t ;
    print tgt;
}

install query hello
'''))

### Run the installed query and process the output

In [ ]:
q = conn.gsql('run query hello({})'.format('"Tom"'))
q

In [ ]:
[v['attributes']['age'] for v in q['results'][0]['tgt']]

## Accumulators

See [GSQL 101 - Module 5: Advanced GSQL (Accumulators)](https://youtu.be/ysrm9OjVoqg)

In [ ]:
YouTubeVideo(width=896, height=504, id='ysrm9OjVoqg')

### Measuring hop distance

Measuring hop distance requires that we flag every vertex we visit using a local accumulator `@visited`. Note how results exclude Jenny and Dan even though they are a friend of a friend of Tom. This is because they are also direct friends of Tom.

In [ ]:
print(conn.gsql('''
drop query hello2

create query hello2(vertex<person> p) for graph social {
    
    OrAccum @visited = false;
    AvgAccum @@aveAge;
    
    start = {p};
    
    firstHop = select t from start:s-(friendship:e)-person:t
               accum t.@visited += true, s.@visited += true;
    
    secondHop = select t from firstHop:s-(friendship:e)-person:t
                where t.@visited == false
                post_accum @@aveAge += t.age;
    
    print secondHop;
    print @@aveAge;
            
}

install query hello2
'''))

In [ ]:
q = conn.gsql('run query hello2("Tom")')
q

### Global accumulators 
We can verify that the global accumulator `@@aveAge` did its job correctly.

In [ ]:
q['results'][1]['@@aveAge']

In [ ]:
ages = [v['attributes']['age'] for v in q['results'][0]['secondHop']]
ages

In [ ]:
sum(ages)/len(ages)